id = {
	name = "EventChannel",
	major_version = 1,
	minor_version = 0,
	patch_version = 0,
}
facets = {
	[1] = {
		name           = "IComponent",
		interface_name = "IDL:scs/core/IComponent:1.0",
	},
	[2] = {
		name           = "Sink",
		interface_name = "IDL:event_service/EventSink:1.0",
	},
}
receptacles = {
	[1] = {
		name           = "Source",
		interface_name = "IDL:event_service/EventSink:1.0",
		is_multiplex   = true,
	},
}
